# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/3rdparty/sndlib/*.scm
/3rdparty/sndlib/*.rb
/3rdparty/sndlib/autom4te.cache
/3rdparty/sndlib/*.fsm
/3rdparty/sndlib/*.fs
/3rdparty/sndlib/config.guess
/3rdparty/sndlib/config.sub
/3rdparty/sndlib/configure
/3rdparty/sndlib/configure.ac
/3rdparty/sndlib/fth.m4
/3rdparty/sndlib/install-sh
/3rdparty/sndlib/premake4.lua
/3rdparty/sndlib/sndins/samples/*.rb
/3rdparty/sndlib/sndins/samples
/3rdparty/unittest-cpp-master
/bin/debug/*.ilk
/bin/debug/*.pdb
/bld
/bin/debug/*.lastcodeanalysissucceeded
/lib/debug
/3rdparty/sndlib/makefile.in
/3rdparty/sndlib/mkinstalldirs
/3rdparty/sndlib/s7.html
/3rdparty/sndlib/sndins/Makefile.in
/3rdparty/sndlib/sndins/README
/3rdparty/sndlib/wz_data.js
/3rdparty/sndlib/wz_tooltip.js
/lib/release/*.exp
/src/Util/*.bak
/bld2015
